<input type="hidden" id='api-token' value="<%= @user.token %>">




<h3>Welcome Back <%= @user.username %></h3>

<%= button_to 'Log-Out', log_out_path, method: :delete %>

<form class="create-decade" action="/api/decades" method="post">
  <input type="text" id="decade-comment" name="decades[comment]">
  <input type="submit" value="Go!">
</form>

<section id="decades-list">
</section>
