<input type="hidden" id='api-token' value="<%= @user.token %>">


<h3>Welcome Back <%= @user.username %></h3>

<%= button_to 'Log-Out', log_out_path, method: :delete %>

<form class="create-todo" action="/api/todos" method="post">
  <input type="text" name="todo[task]">
  <input type="submit" value="Todo">
</form>

<section id="todos-list">
</section>
