<input type="hidden" id='api-token' value="<%= @user.token %>">

<div class="decades-buttons-list">
  <div class="decades-buttons" id="1900">1900</div>
  <div class="decades-buttons" id="1910">1910</div>
  <div class="decades-buttons" id="1920">1920</div>
  <div class="decades-buttons" id="1930">1930</div>
  <div class="decades-buttons" id="1940">1940</div>
  <div class="decades-buttons" id="1950">1950</div>
  <div class="decades-buttons" id="1960">1960</div>
  <div class="decades-buttons" id="1970">1970</div>
  <div class="decades-buttons" id="1980">1980</div>
  <div class="decades-buttons" id="1990">1990</div>
  <div class="decades-buttons" id="2000">2000</div>
  <div class="decades-buttons" id="2010">2010</div>
</div>
</br>

<div class="players">
  <iframe id="1900player" src="https://embed.spotify.com/?uri=spotify:trackset:1900s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1910player" src="https://embed.spotify.com/?uri=spotify:trackset:1910s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1920player" src="https://embed.spotify.com/?uri=spotify:trackset:1920s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1930player" src="https://embed.spotify.com/?uri=spotify:trackset:1930s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1940player" src="https://embed.spotify.com/?uri=spotify:trackset:1940s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1950player" src="https://embed.spotify.com/?uri=spotify:trackset:1950s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1960player" src="https://embed.spotify.com/?uri=spotify:trackset:1960s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1970player" src="https://embed.spotify.com/?uri=spotify:trackset:1970s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1980player" src="https://embed.spotify.com/?uri=spotify:trackset:1980s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="1990player" src="https://embed.spotify.com/?uri=spotify:trackset:1990s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="2000player" src="https://embed.spotify.com/?uri=spotify:trackset:2000s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
  <iframe id="2010player" src="https://embed.spotify.com/?uri=spotify:trackset:2010s:7dzUZec5MnWMyQnk5klnKR,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe,5QZJAcP4nu3xL2NQV4AVHO,5QZJAcP4nu3xL2NQV4AVHO" width="240" height="311.5" frameborder="0" allowtransparency="true"></iframe>
</div>

<div id="user-content">

<h3>Welcome Back <%= @user.username %></h3>

<%= button_to 'Log-Out', log_out_path, method: :delete %>

<form class="create-decade" action="/api/decades" method="post">
  <input type="text" id="decade-comment" name="decades[comment]">
  <input type="submit" value="Go!">
</form>

</div>

<section id="decades-list">
</section>
