<input type="hidden" id='api-token' value="<%= @user.token %>">

<iframe src="https://embed.spotify.com/?uri=spotify:trackset:PREFEREDTITLE:5Z7ygHQo02SUrFmcgpwsKW,1x6ACsKV4UdWS2FMuPFUiT,4bi73jCM02fMpkI11Lqmfe" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>


<h3>Welcome Back <%= @user.username %></h3>

<%= button_to 'Log-Out', log_out_path, method: :delete %>

<form class="create-decade" action="/api/decades" method="post">
  <input type="text" id="decade-comment" name="decades[comment]">
  <input type="submit" value="Go!">
</form>

<section id="decades-list">
</section>
