<h1>A look at popular American music from the last century</h1>
<div class="welcome-form">
  <a class="welcome-anchors" href="/users/new">Sign Up</a>
  <a class="welcome-anchors" href="/users/log_in">Log In</a>
</div>
