/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require jquery-ui
 *= require_self
 */

body{
  background-image: url('http://bestpixgallery.com/images/8n/8ntg8br.png');
  background-size: cover;
  width: 100%;
  color: white;
}
.players{
  margin-left: 42%;
}
.decades-buttons-list{
  margin-left: 25%;
  border-radius: 20px;
  display: inline-block;
  background-color: darkgrey;
}
.decades-buttons{
  display: inline-block;
  margin: 7px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 20px;
}
.decades-buttons:hover{
  cursor: pointer;
}
#decades-list{
  color: black;
  background-color: white;
  margin-left: 43%;
}
#user-content{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 40%;
  border-radius: 12px;
  padding: 7px;
  width: 20%;
  text-align: center;
  margin-left: 40%;
  color: black;
  background: darkgrey;
  display: inline-block;
}
