<!DOCTYPE html>
<html>
<head>
  <title>TodoOnRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id='todo-template'>
    <h3>
      <%%= task %>
    </h3>
    <button type="button" class='remove'>
      Remove
    </button>
  </script>


</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
</body>
</html>
