<!DOCTYPE html>
<html>
<head>
  <title>RailsTimeline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/template" id="decade-template">
    <div>
      <%%= comment %>
    </div>
    <button type="button" id="removebutton" class='remove'>
      Remove
    </button>
  </script>

</head>
<body>

  <div class="container">
      <%= yield %>

  </div>
<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
</body>
</html>
